@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?74833359');
  src: url('../font/fontello.eot?74833359#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?74833359') format('woff2'),
       url('../font/fontello.woff?74833359') format('woff'),
       url('../font/fontello.ttf?74833359') format('truetype'),
       url('../font/fontello.svg?74833359#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?74833359#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-twitter-1:before { content: '\e800'; } /* '' */
.icon-thumbs-up:before { content: '\e801'; } /* '' */
.icon-chart-outline:before { content: '\e802'; } /* '' */
.icon-chart:before { content: '\e803'; } /* '' */
.icon-chart-alt:before { content: '\e804'; } /* '' */
.icon-chart-alt-outline:before { content: '\e805'; } /* '' */
.icon-chart-bar-outline:before { content: '\e806'; } /* '' */
.icon-chart-bar:before { content: '\e807'; } /* '' */
.icon-twitter-circled:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-money:before { content: '\e80b'; } /* '' */
.icon-chart-1:before { content: '\e80c'; } /* '' */
.icon-globe:before { content: '\e80d'; } /* '' */
.icon-easel:before { content: '\e80e'; } /* '' */
.icon-calendar:before { content: '\e80f'; } /* '' */
.icon-user:before { content: '\e810'; } /* '' */
.icon-ok:before { content: '\e811'; } /* '' */
.icon-lock-open:before { content: '\e812'; } /* '' */
.icon-doc:before { content: '\e813'; } /* '' */
.icon-at:before { content: '\e814'; } /* '' */
.icon-cloud-sun:before { content: '\e815'; } /* '' */
.icon-mail-1:before { content: '\e816'; } /* '' */
.icon-home:before { content: '\e817'; } /* '' */
.icon-ok-1:before { content: '\e818'; } /* '' */
.icon-at-1:before { content: '\e819'; } /* '' */
.icon-stripe:before { content: '\e81a'; } /* '' */
.icon-dropbox:before { content: '\e81b'; } /* '' */
.icon-github:before { content: '\e81c'; } /* '' */
.icon-github-circled:before { content: '\e81d'; } /* '' */
.icon-googleplay:before { content: '\e81e'; } /* '' */
.icon-gmail:before { content: '\e81f'; } /* '' */
.icon-twitter-3:before { content: '\e820'; } /* '' */
.icon-guest:before { content: '\e821'; } /* '' */
.icon-pinterest:before { content: '\e822'; } /* '' */
.icon-android:before { content: '\e823'; } /* '' */
.icon-paypal-1:before { content: '\e824'; } /* '' */
.icon-duckduckgo:before { content: '\e825'; } /* '' */
.icon-call:before { content: '\e826'; } /* '' */
.icon-evernote:before { content: '\e827'; } /* '' */
.icon-appstore:before { content: '\e828'; } /* '' */
.icon-vimeo:before { content: '\e829'; } /* '' */
.icon-angellist-1:before { content: '\e82a'; } /* '' */
.icon-ebay:before { content: '\e82b'; } /* '' */
.icon-cloudapp:before { content: '\e82c'; } /* '' */
.icon-linkedin-1:before { content: '\e82d'; } /* '' */
.icon-plancast:before { content: '\e82e'; } /* '' */
.icon-windows:before { content: '\e82f'; } /* '' */
.icon-email:before { content: '\e830'; } /* '' */
.icon-amazon:before { content: '\e831'; } /* '' */
.icon-bitcoin:before { content: '\e832'; } /* '' */
.icon-twitter-bird-1:before { content: '\e833'; } /* '' */
.icon-asterisk:before { content: '\e834'; } /* '' */
.icon-twitter-bird-2:before { content: '\e835'; } /* '' */
.icon-vimeo-rect-1:before { content: '\e836'; } /* '' */
.icon-folder:before { content: '\e837'; } /* '' */
.icon-archive:before { content: '\e838'; } /* '' */
.icon-ok-2:before { content: '\e839'; } /* '' */
.icon-user-2:before { content: '\e83a'; } /* '' */
.icon-lock-open-2:before { content: '\e83b'; } /* '' */
.icon-mail-2:before { content: '\e83c'; } /* '' */
.icon-search-1:before { content: '\e83d'; } /* '' */
.icon-doc-1:before { content: '\e83e'; } /* '' */
.icon-vimeo-circled:before { content: '\e83f'; } /* '' */
.icon-facebook-squared:before { content: '\e840'; } /* '' */
.icon-rocket:before { content: '\e841'; } /* '' */
.icon-github-2:before { content: '\e842'; } /* '' */
.icon-github-circled-1:before { content: '\e843'; } /* '' */
.icon-key:before { content: '\e844'; } /* '' */
.icon-leaf:before { content: '\e845'; } /* '' */
.icon-cloud:before { content: '\e846'; } /* '' */
.icon-globe-2:before { content: '\e847'; } /* '' */
.icon-globe-1:before { content: '\f018'; } /* '' */
.icon-paper-plane:before { content: '\f01d'; } /* '' */
.icon-hash:before { content: '\f029'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-twitter-circled-1:before { content: '\f057'; } /* '' */
.icon-twitter-2:before { content: '\f058'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-user-1:before { content: '\f061'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-bitcoin-1:before { content: '\f15a'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-angellist:before { content: '\f209'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-vimeo-2:before { content: '\f306'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */
.icon-github-1:before { content: '\f308'; } /* '' */
.icon-twitter-4:before { content: '\f309'; } /* '' */
.icon-twitter-circled-2:before { content: '\f30a'; } /* '' */
.icon-facebook-1:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-vimeo-rect:before { content: '\f30e'; } /* '' */
.icon-vimeo-1:before { content: '\f30f'; } /* '' */
.icon-linkedin-rect-1:before { content: '\f312'; } /* '' */
.icon-linkedin-2:before { content: '\f31a'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
.icon-evernote-1:before { content: '\f333'; } /* '' */
.icon-camera:before { content: '\f4f7'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */
.icon-lock:before { content: '\f512'; } /* '' */
.icon-lock-open-1:before { content: '\f513'; } /* '' */
