<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <main class="container">
      <section class="about">
        <a href="/"><img src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}"></a>
        <h2 id="title">
          <a href="/">{{ site.plainwhite.name }}</a>
        </h2>
        <p class="tagline">{{ site.plainwhite.tagline }}</p>
        <ul class="social">
          {%- if site.plainwhite.social_links.github -%}
            <!--<a href="https://github.com/{{ site.plainwhite.social_links.github }}">-->
	    <a href="/about">
              <li>
                <i class="icon-user-4"></i>
              </li>
            </a>
          {%- endif -%}
          {%- if site.plainwhite.social_links.linkedIn -%}
            <a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}">
              <li>
                <i class="icon-twitter-1"></i>
              </li>
            </a>
          {%- endif -%}
          {%- if site.plainwhite.social_links.github -%}
	    <a href="/key">
              <li>
                <i class="icon-key-1"></i>
              </li>
            </a>
          {%- endif -%}		
          {%- if site.plainwhite.social_links.twitter -%}
            <a href="https://buymeacoff.ee/davemane">
              <li>
                <i class="icon-cup-1"></i>
              </li>
            </a>
          {%- endif -%}        
	      </ul>

        {%- if site.plainwhite.navigation -%}
          <nav class="navigation">
            <ul>
              {% for link in site.plainwhite.navigation %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {%- endif -%}

        <p>&copy;
          {{ "now" | date: "2024" }}</p>
      </section>
      <section class="content">
        {{ content }}
      </section>
    </main>
    {%- if site.plainwhite.analytics_id -%}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
      <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
    {%- endif -%}
  </body>
</html>
